<h2><%= @restaurant.name %></h2>
<h3><%= @restaurant.category.capitalize %></h3>

<ul>
  <li> <%= @restaurant.address %> </li>
  <li> <%= @restaurant.phone_number %> </li>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<br>
<h3>Reviews:</h3>
<ul style="list-style-type:none;">
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.rating %> | <%= review.content %></li>
  <% end %>
</ul>
<%= link_to "Return", restaurants_path %>
